@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  color: #172b4d;
}

body {
  position: relative;
  background-color: #f7f7f9;
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* header starts here  */

header {
  width: 100vw;
  display: flex;
  color: #6070ff;
  background: #fff;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40%;
  left: 30px;
  animation: color-change 1s ease-in-out;
  position: relative;
  animation-name: logo;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

@keyframes logo {
  0% {
    left: 0;
    top: 0;
  }

  25% {
    left: 150px;
    top: 0;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.menu-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.desk-ul {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  margin: 0;
  color: #fff;
  background-color: #6070ff;
  padding: 10%;
  opacity: 0.9;
  z-index: 9999;
}

.dropdown-content a {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0 10px 20px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.close {
  margin-left: 95%;
  font-size: 3em;
  font-weight: 200;
  cursor: pointer;
}

.close:hover {
  color: rgb(0, 0, 0);
}

.blur {
  filter: blur(3px);
}

/* header ends here  */

/* main page starts here */

.main-page {
  max-height: 800px;
  min-height: 550px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
  border-radius: 0 0 0 4em;
  background-color: #fff;
  background-image: url(./public/header-shape.png);
  background-size: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.main-headline {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.about-headline {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.main-h1 {
  margin: 10px 0;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  transition: all 0.7s ease-in-out;
  animation: fadeIn 3s ease-in-out;
}

.main-h1:hover {
  color: #0aa51e;
}

.main-paragraph {
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.main-h4 {
  margin: 10px 0;
  color: #323fb3;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  animation: openclose 5s ease-in-out infinite;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }

  5% {
    width: 0;
  }

  15% {
    width: 230px;
  }

  30% {
    top: 0.2rem;
    width: 230px;
  }

  33% {
    top: 0.2rem;
    width: 0;
  }

  35% {
    top: 0.2rem;
    width: 0;
  }

  38% {
    top: -4.5rem;
  }

  48% {
    top: -4.5rem;
    width: 190px;
  }

  62% {
    top: -4.5rem;
    width: 190px;
  }

  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }

  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  86% {
    top: -9rem;
    width: 285px;
  }

  95% {
    top: -9rem;
    width: 285px;
  }

  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

.icons {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #505f79;
  list-style: none;
  padding-left: 0;
}

.fa-icon {
  text-decoration: none;
  color: #505f79;
  font-size: 1.25rem;
  padding-right: 1em;
}

/* main page ends here  */

/* my projects section starts here */

.project {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  background: #fff;
  border-radius: 20px;
  margin: 20px 50px 20px 20px;
}

.project-image {
  padding: 15px;
  padding-bottom: 0;
}

.project-image img {
  display: block;
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.project-data {
  padding: 20px;
  font-size: 20px;
}

.project-heading {
  font-size: 1.8em;
  font-weight: 700;
}

.project-sub-details {
  font-size: 0.9em;
  font-weight: 500;
  margin: 15px 0;
}

.project-data p span {
  font-size: 0.75em;
  font-weight: 500;
  color: #838282;
}

.circle {
  font-size: 0.6em;
  padding: 0 0.6em;
  color: #838282;
}

.project-paragraph {
  font-size: 0.85em;
}

.project-data ul {
  display: flex;
}

.project-data ul li {
  margin: 20px 10px 0  0;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  font-size: 0.6em;
  color: #6070ff;
  background: #ebebf3;
}

.image-2-b {
  display: none;
}

.image-4-b {
  display: none;
}

button {
  font-family: inherit;
  background: #fff;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.03em;
  width: auto;
  margin: 1em 0;
  cursor: pointer;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 0.5em 1em #4053fc3d;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
  transform: translateY(4px);
}

button:disabled,
button[disabled] {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

/* projects section ends here */

/* about-myself section starts here */

.about-me {
  padding-top: 150px;
  padding-bottom: 150px;
  font-size: 2rem;
  background: #fff;
  border-radius: 0 50px 0 0;
  margin: 20px;
}

.about-me-details {
  margin: 30px;
}

.about-me p {
  font-size: 0.5em;
}

.about-me-h4 {
  color: #323fb3;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0;
}

.about-me ul {
  margin: -10px 0 0 0;
}

.about-me-details button {
  font-size: 0.65em;
}

.skills {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.languages {
  display: flex;
  flex-direction: row;
  margin: 15px;
  justify-content: space-between;
  align-items: center;
}

.languages p {
  font-size: 0.75em;
  font-weight: 500;
}

.languages i {
  font-size: 0.75em;
  margin-right: 25px;
}

.skill-list {
  font-size: 0.6em;
}

.skill-list-li {
  background: #f4f4f5;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
}

.skill-list li img {
  margin: 15px;
}

.frameworks {
  margin: 0 30px 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.frameworks p {
  font-size: 0.75em;
  font-weight: 500;
}

.frameworks i {
  font-size: 0.75em;
}

.sub-skills {
  margin: 0 30px 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sub-skills p {
  font-size: 0.75em;
  font-weight: 500;
}

.sub-skills i {
  font-size: 0.75em;
}

hr {
  margin: 15px 30px 15px 30px;
}

/* about-myself section starts here */

/* contact-me section starts here */

.contact-me {
  border-radius: 50px 0 0 0;
  text-align: center;
  background-image: url(./public/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #6070ff;
  color: #fff;
  padding: 70px;
}

.form-details {
  margin: 0;
  margin-top: 100px;
  padding-bottom: 30px;
}

.contact-me h1 {
  font-size: 2.5em;
  font-weight: 700;
  padding-bottom: 10px;
}

.contact-me p {
  font-size: 1em;
  font-weight: 300;
}

.sub-form input,
textarea {
  outline: none;
  padding: 10px;
  border-radius: 7px;
  min-height: 40px;
  margin-bottom: 10px;
}

.submit-button {
  margin-left: 0;
}

/* for validation starts here */

.form {
  padding: 30px 40px;
  font-family: 'Poppins', sans-serif;
}

.sub-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.sub-form label {
  display: inline-block;
  margin-bottom: 5px;
}

.sub-form.valid input {
  border-color: #03a848;
}

.sub-form.invalid input,
textarea {
  border-color: #e74c3c;
}

.sub-form.valid textarea {
  border-color: #03a848;
}

.sub-form small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.sub-form.invalid small {
  visibility: visible;
}

/* for validation ends here */

/* contact-me section starts here */

/* popupwindows starts here  */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-project {
  display: grid;
  grid-template-columns: 100%;
  padding: 40px;
  grid-auto-rows: auto;
  background: #fff;
  border-radius: 20px;
  margin: 20px 20px 0 20px;
}

.img-2 {
  display: block;
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.popup-data {
  padding: 5px;
  font-size: 20px;
}

.popup-heading {
  font-size: 3em;
  font-weight: 700;
}

.popup-sub-details {
  font-size: 1.3em;
  font-weight: 500;
  margin: 15px 0;
}

.popup-data p span {
  font-size: 0.75em;
  font-weight: 500;
  color: #838282;
}

.popup-paragraph {
  font-size: 0.85em;
}

.popup-data ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.popup-data ul li {
  margin: 10px 10px 0 0;
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
  font-size: 0.6em;
  color: #6070ff;
  background: #ebebf3;
}

.closex {
  position: relative;
  margin-bottom: -60px;
  margin-left: 95%;
  font-size: 3em;
  font-weight: 200;
  cursor: pointer;
}

.closex:hover {
  color: rgb(0, 0, 0);
}

.last-button {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
  padding: 15px 15px;
  width: auto;
  font-size: 1rem;
}

.btn-1-img {
  width: 20px;
  height: auto;
  margin-bottom: -5px;
  margin-left: 10px;
}

.btn-2-img {
  margin-bottom: -4px;
  margin-left: 10px;
}

/* popupwindows ends here  */

@media screen and (min-width: 768px) {
  /* header starts here */

  header {
    padding: 23px;
    padding-bottom: 75px;
  }

  .menu-lines {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .desk-ul {
    position: absolute;
    top: 8px;
    right: 120px;
    display: flex;
    margin-top: 25px;
    padding: 0;
    color: #6070ff;
    font-size: 18px;
  }

  .desk-li {
    margin: 0 10px;
    cursor: pointer;
    color: #344563;
    font-size: 15px;
    text-decoration: none;
  }

  /* header ends here */

  /* main-page starts here */
  .logo > a {
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    margin: 0 0 0 100px;
    font-size: 18px;
  }

  .main-page {
    border-radius: 0 0 0 4em;
    background-color: #fff;
    background-image: url(./assets/Header\ bg.png);
    background-size: 96%;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .main-headline {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 751px;
    height: 268px;
  }

  .icons {
    margin-left: 60px;
  }

  .main-h1 {
    margin: 10px 64px;
    font-size: 48px;
    align-items: center;
    color: #172b4d;
  }

  .main-paragraph {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-left: 65px;
  }

  .main-h4 {
    margin: 0 60px;
  }

  /* main-page ends here */

  /* projects section starts here  */

  .project {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
  }

  .project-data {
    margin: 0 0 0 0;
  }

  .project-image img {
    border-radius: 15px;
    display: block;
    height: 100%;
  }

  /* projects section ends here  */

  /* about-me starts here */
  .about-me {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
  }

  .skill-list {
    display: flex;
    flex-direction: row;
    font-size: 0.6em;
  }

  .skill-list li {
    background: #f4f4f5;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    min-width: 120px;
  }

  /* about-me ends here  */

  /* contact-me starts here */

  .contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-details {
    width: 500px;
  }

  form input {
    width: 500px;
  }

  .image-2-a {
    display: none;
  }

  .image-2-b {
    display: block;
  }

  .image-4-a {
    display: none;
  }

  .image-4-b {
    display: block;
  }

  /* contact-me ends here */

  /* popupwindows starts here  */

  .popup-data {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    column-gap: 10px;
    padding: 5px;
    font-size: 20px;
  }

  .popup-paragraph {
    grid-row: 1/span 2;
    font-size: 0.85em;
  }

  .popup-list-button {
    display: flex;
    flex-wrap: wrap;
  }

  .popup-data ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .popup-data ul li {
    margin: 10px 5px 0 0;
    padding: 0 5px 0 5px;
    border-radius: 8px;
    font-size: 0.8em;
    color: #6070ff;
    background: #ebebf3;
  }

  .btn {
    width: 110px;
    padding: 11px 0;
    font-size: 0.75rem;
  }

  .btn-1-img {
    width: 15px;
    height: 15px;
    margin-bottom: -4px;
    margin-left: 10px;
  }

  .btn-2-img {
    height: 15px;
    margin-bottom: -4px;
    margin-left: 10px;
  }
}
